    <!-- jQuery Library -->
    <!-- <script src="/resources/js/jquery/core/jquery-3.2.1_min.js"></script> -->
    <!-- <script src="/common/js/jquery-3.4.1.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- bootstrap Library -->
    <!-- <script src="/common/js/bootstrap.bundle.js"></script> -->
    <!-- <script src="/common/js/bootstrap.min.js"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- <script src="/resources/static/common/js/bootstrap.js"></script> -->

    <!-- index js 추가 -->
    <script src="/js/app/index.js"></script>

</body>
</html>