<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>스프링 부트 웹 서비스</title>
    <!-- css Library -->
    <!-- <link rel="stylesheet" href="/common/css/bootstrap.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="/common/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <!-- href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" -->

</head>
<body>
